[2021-09-29 09:18] brosaplanella opened #2 "Change file defaults"
Some functions use defaults for filenames and directories which are specific for a local installation (e.g. `load_data.py` l11, or `batteryrig_utils.py` l164). We should either remove the defaults or include the default dataset in the repo as an example.

[2021-09-29 09:20] brosaplanella opened #3 "Add contributing and code of conduct"
We can take the PyBaMM ones as an example.

[2021-09-29 09:42] brosaplanella opened #4 "Add packages to install requires"
The following packages are not installed as requirements:
* plotly
* tqdm

[2021-09-29 10:35] brosaplanella opened #5 "Separate plot from solve"
Separate plotting features from solve so manipulation of the plots can happen without solving the model every time.

[2021-09-29 12:40] TomTranter commented on #5
Yep gonna make a separate plot file. I'm working on printing the circuit right now

[2021-09-29 12:43] TomTranter commented on #4
they are in the latest

[2021-09-29 12:43] #4 closed

[2021-09-29 12:53] TomTranter commented on #2
I'm going to strip out the useful functions from here and delete anything bespoke

[2021-09-29 13:32] TomTranter opened #6 "Improve output data format and include cell currents by default"

[2021-09-29 14:13] TomTranter opened #7 "Make initial_soc work here instead of using init_funcs"

[2021-09-29 14:20] TomTranter opened #8 "Event handling"
Currently there is none except monitoring the voltage limits on all cells manually and stopping the simulation. Would be amazing if we can leverage some of the event handling in PyBaMM

[2021-09-29 14:21] TomTranter opened #9 "Experiments instead of Protocols"
Protocols is very quick and dirty just to get some simple cycling behaviour working. PyBaMM has much nicer Experiment class that hopefully we can leverage here. Although it may be simpler to cut and paste I would like to avoid that

[2021-09-29 17:26] TomTranter opened #10 "Make latex figures work in tests"
In Github actions

======================================================================
ERROR: test_draw_circuit (tests.unit.test_plots.plotsTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/runner/work/liionpack/liionpack/tests/unit/test_plots.py", line 14, in test_draw_circuit
    lp.draw_circuit(net)
  File "/home/run

[2021-09-29 17:46] #10 closed

[2021-09-30 09:18] TomTranter opened #11 "Turn off latex printing in Ipython console after drawing circuit"

[2021-10-01 13:03] tinosulzer commented on #7
The pybamm function `pybamm.lithium_ion.get_initial_stoichiometries` does a lot of the same thing as the `sim_utils.py` file and could act as a drop in replacement.  I really like the idea of optionally giving an initial OCV instead though, we should add that to pybamm

[2021-10-02 17:41] TomTranter opened #14 "Investigate PySpice support"

[2021-10-04 09:39] PippaVossen opened #15 "module 'skspatial.objects' not found"
Hi @TomTranter, you use a module named 'skspatial.objects' in the liionpack package - where can I get this from? Is it linked to scipy? I can't seem to find this module anywhere...
Many thanks in advance!

[2021-10-04 09:45] TomTranter commented on #15
it's the scikit-spatial package. scikit-X packages often abbreviate the module names. There is a requirements.txt file in this package which details all the dependencies

[2021-10-04 09:48] TomTranter commented on #15
By the way if you navigate a command prompt to the folder you have downloaded or cloned locally you can install liionpack and all dependencies automatically with pip install -e .

[2021-10-04 09:58] TomTranter commented on #15
Ah my apologies, I had not updated the setup.py file to reflect all the dependencies. It should be there now

[2021-10-04 10:04] PippaVossen commented on #15
thanks!

[2021-10-04 10:32] #15 closed

[2021-10-05 08:32] #2 closed

[2021-10-05 10:10] #5 closed

[2021-10-05 10:10] #6 closed

[2021-10-05 10:10] #11 closed

[2021-10-06 02:16] wigging opened #17 "Solver warning for large pack configurations"
I tested the example shown below with the following pack configurations:

| Configuration | Elapsed time (min:sec) | Warnings |
|---|---|---|
| 16p2s (32 cells) | 0:08 | none |
| 32p10s (320 cells) | 1:21 | none |
| 32p20s (640 cells) | 3:56 | none |
| 16p40s (640 cells) | 3:49 | LinAlgWarning: Ill-conditioned matrix, X = solve(A, z).flatten() |
| 16p96s (1536 cells) | 18:43 | LinAlgWarning: Ill-c

[2021-10-06 07:49] TomTranter commented on #17
Hey Gavin, thanks - there are plenty of other options for solving this matrix. Scipy was just the quickest and dirtiest - should also look into a sparse matrix implementation to speed things up. The simulation times you have there is probably increasing much more for the electrochemical models rather than the linalg. I'm guessing it doesn't fail right away either,  it might also be the current is

[2021-10-06 14:51] TomTranter opened #18 "Add coordinates to generated netlists"
For scatter plot the coordinates of the cells are needed. These can be automatically generated for built netlists.

[2021-10-06 14:54] TomTranter opened #19 "Better plots"
Can we implement something better for visualising large datasets

[2021-10-06 14:59] TomTranter opened #20 "Modular packs"
Currently a pack is simply a single set of batteries in a combination of series and parallel with two busbars both with the terminal on the left hand side. This could represent a module in a larger pack and so needs to behave and interact as part of the larger system in a self contained and modular way.

[2021-10-06 15:04] TomTranter commented on #9
This could include loading in drive cycles

[2021-10-06 15:05] TomTranter opened #21 "Finish Docs"

[2021-10-06 15:07] TomTranter opened #22 "Acknowledge funding"

[2021-10-06 15:07] TomTranter commented on #22
Put a comment in the readme - will also acknowledge in a paper ASAP

[2021-10-06 15:18] TomTranter opened #23 "Small resting currents"
The (calculated) internal resistance can increase massively around discontinuities and the starts of periods of rest. Investigate whether this is time-step dependent or whether Ri calculation might need to include a bound....

[2021-10-06 15:20] TomTranter opened #24 "Prep"
Read all this and set-up rest of todo
https://joss.readthedocs.io/en/latest/submitting.html

[2021-10-06 17:48] wigging commented on #17
The table below compares the original solver approach to the results for running the latest liionpack version which uses the sparse solver. I did not change the applied current in the example (`I = 80.0`) so it appears that the solver was causing the issue and not the current. @TomTranter You can close this issue unless you have more comments. Thanks for getting this implemented so quickly.

| Con

[2021-10-06 17:57] TomTranter commented on #17
That is really strange that it makes such a difference to the simulation time as I said only about 10% is spent on the circuit_solve. Maybe due to some tolerances it was returning bad values for the electrochemical sims and these were taking longer to converge in the mapped iterator... I'll close this issue but open a general profiling one. Maybe we can add more info for debug to the logger

[2021-10-06 17:57] #17 closed

[2021-10-06 17:59] TomTranter opened #25 "Add more debug info to solve"

[2021-10-07 10:12] TomTranter commented on #19
Yeah it would be easy enough to show an image using a row and column index for each cell in a square configuration.

[2021-10-13 01:14] wigging opened #29 "Unused functions in utils module"
The following functions are not being used by the simulation and some only appear in the unit tests:

- `interp_current()` defined in `liionpack/utils.py` and used in `tests/unit/test_utils.py`
- `_z_from_plane()` defined in `liionpack/utils.py`
- `_fit_plane()` defined in `liionpack/utils.py`
- `read_cfd_data()` defined in `liionpack/utils.py` and used in `tests/unit/test_utils.py`
- `get_linear_

[2021-10-14 15:26] wigging opened #30 "Use Dask to run the cell simulations in parallel"
This isn't really an issue but more of a feature request or enhancement. Would it be possible to use [Dask](https://dask.org) to run the cell simulations in parallel? I created a basic example (see below) of running the SPMe model for several discharges in parallel using Dask. Compare elapsed time with and without Dask by commenting out the appropriate section in `main()`. Elapsed times are given

[2021-10-14 19:35] #22 closed, assigned to TomTranter, srikanthallu

[2021-10-14 19:56] srikanthallu commented on #30
@TomTranter, could you elaborate some more on data dependencies between threads. Is it because we are doing a coupled solve with thermal ? Also, what was the library you used for shared memory parallel process ? Adaptive time stepping is important and will definitely help us accelerate.

[2021-10-14 21:10] tinosulzer commented on #30
This would be a good first issue to tackle for understanding memory requirements https://github.com/pybamm-team/PyBaMM/issues/1442

[2021-10-14 21:29] tinosulzer commented on #30
The way initial conditions are handled, especially when there are input parameters in the initial conditions, is also not perfect https://github.com/pybamm-team/PyBaMM/blob/6ccce9f817db8e5df69e6a3de90587b62e20180a/pybamm/solvers/base_solver.py#L1261-L1294

This might cause some difficulties with creating a single model and solving multiple times. That part of the code could do with a fresh pair of

[2021-10-14 22:54] valentinsulzer opened #32 "Liionpack uses the opposite sign convention from pybamm"
In pybamm, discharge current is positive and charge current is negative.
In liionpack, it is the other way round. This might cause confusion. Can I just fix as part of #9?

[2021-10-15 12:03] TomTranter commented on #32
Hmm, ok that's funny. Might be that the direction of the elements in the circuit graph need changing too

[2021-10-15 15:36] wigging commented on #32
Most of the circuit code is in `netlist_utils.py`.

[2021-10-15 16:25] TomTranter commented on #30
Hey so I pushed some changes and I think basically you wanna try and put as much of the code in the for loop in `_serial_step` into a dask process

[2021-10-15 20:18] wigging commented on #30
@TomTranter Dask is complaining that some of the variable types are `DM`. It looks like these are types returned from Casadi. Can you edit `_serial_step_dask` and `solve_dask` so there are no Casadi objects? I don't know how to support non-standard Python objects with Dask. I'm still learning how to use it.

[2021-10-15 21:40] tinosulzer opened #33 "Use lipack-specific logger"
To enable setting a different logging level from pybamm.
We can just copy over the logger.py code from pybamm

[2021-10-16 03:10] wigging commented on #30
Apparently objects must be able to be serialized for use with Dask. This may be causing the issues I'm having with passing Casadi and PyBaMM objects to the mapped Dask function. http://distributed.dask.org/en/latest/serialization.html

[2021-10-16 07:58] TomTranter commented on #30
I think the integrator will work is you pass numpy arrays... but I'm not sure

[2021-10-16 15:37] tinosulzer opened #34 "Possible optimization in `solve_circuit`"
If I understand correctly, `solve_circuit` constructs the `A` and `z` matrices each time it is called, then solves `Ax=z`. Doing some very basic profiling, around 85% of the time is spent setting up the `A` matrix and 15% solving the linear system (this is for the `load_netlist.py` example, I haven't tested how this scales with pack size).

Does the `A` matrix change between iterations or is it al

[2021-10-16 15:40] tinosulzer opened #35 "Test output of simulation by comparing to pybamm (integration test)"
In some limit of an ideal pack (low resistances, high heat-transfer-coefficient?) the pack simulation should give an identical solution to a pybamm simulation of a single cell whose outputs have been scaled for the pack. This could be a good sanity check that the pack simulation is behaving as expected.

[2021-10-18 09:27] TomTranter opened #41 "Set up benchmarks"

[2021-10-18 09:28] TomTranter opened #42 "Set up google colab"

[2021-10-18 09:37] TomTranter opened #43 "Run Black formatting when PRs are merged"

[2021-10-18 10:09] #9 closed, assigned to valentinsulzer

[2021-10-18 10:09] #32 closed, assigned to nobody

[2021-10-18 13:15] priyanshuone6 commented on #43
https://github.com/psf/black/actions/runs/17913292/workflow

[2021-10-18 13:30] Saransh-cpp commented on #43
If we don't want to use `tox` then `BattBot`'s workflow would work -
https://github.com/pybamm-team/BattBot/blob/0d054b03422a6b117ec5491909a538af79e15cc1/.github/workflows/python-app.yml#L13-L26

[2021-10-18 14:35] wigging commented on #30
@TomTranter I rebased the dask branch with main so everything is up-to-date with main. If you need to work on the dask branch make sure you pull (or force pull) the latest version to your local dask branch.

[2021-10-18 15:46] TomTranter opened #47 "HELP readthedocs nightmare!"
I have no idea why but it seems like readthedocs is stuck reading from an old commit. It won't update the additional pages. Seems to update index ok. I'm using MKDocs which is supposed to make life simple. If I start a server locally it all looks ok :(

[2021-10-19 06:50] priyanshuone6 commented on #43
@Saransh-cpp Are you working on this issue?

[2021-10-19 17:44] ksnvikrant opened #48 "DFN model Run Time Error"
I ran the example on liionpack by changing the Pybamm model from SPMe to DFN in 'simulations.py' file.
In 'simulations.py', I changed create_simulation function.
I replaced line #50: model = pybamm.lithium_ion.SPMe(options = {"thermal": "lumped",}) to
model = pybamm.lithium_ion.DFN(options = {"thermal": "lumped",})

I am getting a run time error as follows:

Newton/Linesearch algorithm failed to c

[2021-10-19 21:07] tinosulzer commented on #48
Not sure if this is related or if the error appears before, but the code to support a DAE solve (just as the DFN) is only half done in `_mapped_step`

[2021-10-20 05:56] priyanshuone6 commented on #47
@TomTranter maybe try [creating a webhook](https://docs.readthedocs.io/en/stable/webhooks.html) to automatically update the docs with every push in the repository.

[2021-10-20 08:21] TomTranter commented on #47
I've no idea why but it seems fixed now. Latest and main are the same

[2021-10-20 08:23] #47 closed

[2021-10-20 08:25] TomTranter commented on #14
Pyspice seems kinda hard to use. I will shelve this for now until someone has a genuine use case for it

[2021-10-20 08:25] #14 closed

[2021-10-20 21:38] valentinsulzer opened #49 "Switch to object-oriented programming?"
This would be slightly more "pythonic". e.g.
- A `Circuit` class to handle loading a netlist, drawing, and solving
- A `Solver` class
- A `PackSolution` class to store, plot, save the solution

Though of course, there is nothing wrong with function-oriented programming as the code is currently designed.

[2021-10-21 01:07] wigging commented on #49
I avoid writing classes as much as possible. Here is a classic Python presentation about using classes. https://youtu.be/o9pEzgHorH0

[2021-10-21 13:28] TomTranter commented on #30
I'm getting issues again - maybe as I use sourcetree but I pulled down some changes in the dask branch and it's saying I have merge conflicts

I really really would prefer it if you didn't rebase

[2021-10-21 13:33] TomTranter commented on #30
I just did a hard reset on my local machine to fix the issue
git reset --hard origin/dask

[2021-10-21 13:48] #49 closed, assigned to nobody

[2021-10-21 14:04] wigging commented on #48
I also get an error when the model is DFN. Below is the error with traceback message.

[code]

[2021-10-21 16:36] TomTranter commented on #30
@wigging I made a little progress on this. I added a self contained script called dask debug with the bare minimal integrator functionality getting mapped. If you look at the dashboard there is a lot of waiting with nothing happening which I guess is data transfer in between steps. Maybe turning all the states into one big dask array and indexing into it would speed things up if dask handles these

[2021-10-21 17:19] wigging commented on #30
I'm getting close to a Dask solution. I ran the example using Python's `from concurrent.futures import ProcessPoolExecutor
` and chunked arrays which is giving good speed improvements. So now I'm adapting that approach for use with Dask. To be continued...

[2021-10-22 15:09] #43 closed, assigned to nobody

[2021-10-27 17:39] wigging opened #52 "Casadi solver does not scale with CPU cores"
I ran a 32 battery cell example (`Np = 16`, `Ns = 2`) on a 64 CPU core workstation where I adjusted the `nproc` parameter from 2 to 64. Based on the results shown below, it appears that the Casadi solver does not scale beyond 16 CPU cores. I get similar elapsed times for anything above 16 cores. I'm not sure how the Casadi `map` function executes in parallel so I have no idea how to optimize the p

[2021-10-29 18:20] wigging commented on #52
Can someone else run a liionpack simulation on more than 16 cores and see if you get any speed improvements? It looks like the Casadi solver can handle many CPU cores but I'm not seeing any speed advantages when running liionpack beyond 16 cores.

[2021-11-01 09:56] TomTranter commented on #52
@wigging have you given up on dask then? I'm not sure running a 32 cell problem on more than 16 cores would give you very good scaling anyway. How does a 1024 battery problem scale?

[2021-11-01 13:20] wigging commented on #52
@TomTranter I got Dask working with PyBaMM but I'm not sure how to implement it within liionpack. Still working on it. I'm also testing the current liionpack version which uses Casadi to see how it handles larger CPU resources. I'll try a larger pack simulation and post the results here.

[2021-11-01 14:23] wigging commented on #52
It looks like the Casadi parallel `map` function uses the total number of batteries. So does the battery pack configuration (number of batteries in parallel vs series) have any effect on the parallel solver performance?

[2021-11-01 15:12] TomTranter commented on #52
Shouldn't do

[2021-11-01 15:13] TomTranter commented on #52
It also occurred to me that some processors tell you you have 32 cores but you actually have 16 running 2 threads each. Could, I have never found much speed increase starting more than half the number of processes as os.cpu_count()

[2021-11-02 14:46] wigging commented on #52
Here are the elapsed time results from running a liionpack simulation with 640 battery cells (32p20s). Each run was done on a machine with 64 CPU cores with a total of 64 threads. The maximum number of threads that are used appears to be 28 to 32 threads.

![Figure_1](https://user-images.githubusercontent.com/6828967/139869655-998f4eb0-12fb-48af-8af8-be9be637b84c.png)

[2021-11-02 14:55] tinosulzer commented on #52
Are you timing the whole pack simulation or only the `solver.step` times? I am wondering if maybe the linear system for the pack becomes limiting

[2021-11-02 15:04] wigging commented on #52
@tinosulzer I added the code to my previous comment.

[2021-11-02 15:06] TomTranter commented on #52
What would be the best way to log compute time spent on each section of the solve @tinosulzer

[2021-11-02 15:08] TomTranter commented on #52
Also I would highly recommend just solving this for a few time steps. The profiling should reveal the same info whether you run  steps  or 2000

[2021-11-02 15:09] tinosulzer commented on #52
Easiest way to quickly see it would be to do `lp.set_logging_level("DEBUG")` at the start and then look at the console output

[2021-11-02 15:15] wigging commented on #52
@TomTranter or @tinosulzer Can you edit my example code with your changes and share it here? I'll run it on the 64 core machine and report the results.

[2021-11-02 15:41] TomTranter commented on #52
c:\users\tom\code\pybamm\pybamm\expression_tree\functions.py:204: RuntimeWarning: invalid value encountered in sign
  return self.function(*evaluated_children)
2021-11-02 15:40:14,391 - [NOTICE] netlist_utils.setup_circuit(269): Circuit created
Np        32
Ns        20
cells     640
nprocs    [0, 1, 2, 4, 6, 8, 12]
label     64core-32p20s-run3

2021-11-02 15:40:14,468 - [DEBUG] netlist_utils.solv

[2021-11-02 15:44] TomTranter commented on #52
Again there's little benefit to using more than half the cores

[2021-11-02 15:48] wigging commented on #52
The Casadi parallel `map` function uses threads. If I have 64 threads why would it not use all of those threads?

[2021-11-02 16:01] TomTranter commented on #52
I don't know. Can you post the exact code you used for the example that did work. I still have a suspicion that the problem is the overhead for data transfer. At this point it would be great to have a self contained example without using pybamm that doesn't work to send to the guys at Casadi to help us figure out

[2021-11-02 16:10] TomTranter commented on #52
I see it now sorry

[2021-11-02 16:33] TomTranter commented on #52
What os was the machine you ran that test on? I just ran it on a windows machine with 64 cores and got these results which are not scaling as nicely as yours Elapsed time (threads, seconds)

64       7.21 s
32       9.20 s
16       11.41 s
8        16.10 s
1        32.70 s

[2021-11-02 17:01] tinosulzer commented on #52
Yeah, let's try to do some more profiling first. Would be good to see a graph of the following vs. number of cores (will require some in-code edits to save and add up the time of each part of each step but this would be good to do anyway):
- total time
- total time in the circuit solve function
- total time in the model solve function
- total time in just the casadi integrator solve line

[2021-11-02 17:07] wigging commented on #52
For the Casadi mapped function example, I used Ubuntu 20.04.3 LTS with 64 core Intel Xeon 2.2 GHz and 32 GB of memory.

[2021-11-02 17:43] TomTranter commented on #52
This is my profiling results for a 30 step simulation (5 mins at 10 s) using 1, 2, 3, 6, 12 threads
![image](https://user-images.githubusercontent.com/7068741/139917890-411fbe4f-2061-46e2-b0ef-d7e5f463e7c9.png)

[2021-11-02 17:48] TomTranter commented on #52
I generated the profile with `python -m cProfile -o prog.prof prog.py` where prog is your script name

[2021-11-02 17:49] TomTranter commented on #52
You can visualize the results using `snakeviz prog.prof` and drill into the solve method

[2021-11-02 17:53] TomTranter commented on #52
Here are the numbers
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/tom/AppData/Local/Temp/msohtmlclip1/01

[2021-11-02 17:54] TomTranter commented on #52
So we are getting some improvement when using all the threads

[2021-11-02 17:57] TomTranter commented on #52
To generate the profiles I ran your script but only for 1 nproc at a time and saved them individually then opened it up in snakeviz and manually extracted the info I needed. I guess we can probably save total times in the logger to make this a bit easier

[2021-11-02 19:23] wigging commented on #52
@TomTranter In your previous comment you used a 64 core Window's machine, what is the total number of threads for that machine? Can you run the 32p20s example on that machine and compare the elapsed time results? I want to see if the simulation will use more than 28 threads.

[2021-11-02 19:58] tinosulzer commented on #52
I don't think the results we have so far conclusively say "the simulation only uses 16/28/32 threads". It looks more like a combination of some constant overheads (creating casadi objects, solving the circuit) and overhead for data transfer between threads

[2021-11-02 20:41] wigging commented on #52
Understood, I'll work on getting a cProfile using the 64 core machine.

[2021-11-02 20:46] TomTranter commented on #52
I'm trying to wrap my head around some cpu hardware terminology as os.cpu_count() is telling me I have 64 but windows task manager is telling me I have 32. I think cpu_count may be telling me I have hyperthreading... ? https://www.virtual-dba.com/blog/sockets-cores-and-threads/ what does lscpu say on your linux machine?

[2021-11-02 21:02] wigging commented on #52
Yeah, it gets confusing and varies with CPU features. The 64 core machine I'm using has 1 thread per core so `os.cpu_count()` returns `64` so there is a total of 64 threads. My laptop has 8 cores with 2 threads per core therefore `os.cpu_count()` returns `16` so there is a total of 16 threads. The `os.cpu_count()` returns the number of cores as the total number of threads available. I also get the

[2021-11-02 21:16] TomTranter commented on #52
This is even stranger. I made a new environment with python 3.9 as opposed to 3.7 on this shared machine and now os.cpu_count() is 32

[2021-11-02 21:17] TomTranter commented on #52
Well I can now shave another 3 seconds of that script using 32 threads

[2021-11-03 09:16] TomTranter opened #56 "pack voltage bug"
![image](https://user-images.githubusercontent.com/7068741/140034738-40dd2c29-4bfa-4723-9eb6-9cecd683e954.png)

[2021-11-03 09:47] TomTranter commented on #56
I think this is also reversing the effect of the busbar resistance on the pack voltage

[2021-11-03 14:40] wigging commented on #56
Can elaborate on what's going on here? Is the circuit diagram drawn wrong?

[2021-11-03 15:37] ksnvikrant opened #57 "Different Initial condition for the cells in pack"
I tried to populate different initial electrolyte concentration across the cells in the pack. I have an array of initial electrolyte concentration (initial_eleConc) similar to total heat transfer coefficient (htc). The changes I made to **utils.py**, **simulations.py**, **solver_utils.py** are given below.

Changed line 220, and added line 229 in **utils.py**.
[code]
 Added line 73 in **simulation

[2021-11-03 15:45] tinosulzer commented on #57
Haven't looked specifically into what's happening here, but we should come up with a user interface that allows users to change any parameter like this, instead of adding each one as another argument  to all the functions

[2021-11-04 09:43] TomTranter commented on #52
I've asked a question about this on the Casadi google user group. https://groups.google.com/g/casadi-users/c/Y2ft68hbYoc

[2021-11-04 22:05] TomTranter commented on #35
Added in PR #58

[2021-11-05 13:29] #56 closed

[2021-11-05 13:29] #35 closed

[2021-11-05 13:30] #7 closed

[2021-11-05 13:36] TomTranter commented on #57
Agreed. The current has to be an input for Liionpack to work and is changed on every step. HTC technically doesn't but you would want it to be if solving a dynamic thermal problem and again might change a little bit for every step. The rest are more like ensemble constants and would be different to start with but then not change. Is it worth making this distinction and calling it something else?

[2021-11-05 13:37] #25 closed

[2021-11-05 13:39] TomTranter commented on #23
see the new integration test for small differences in voltage between liionpack and pybamm around discontinuities. Check a drive cycle.

[2021-11-05 13:39] TomTranter opened #59 "Make a drive cycle example"

[2021-11-05 14:08] ksnvikrant commented on #57
I created a branch name **issue-57-init_cond** with the above changes

[2021-11-08 10:45] martinjrobins opened #61 "using parallel jax solver"
@TomTranter : here is an example script that runs 20 instances of the spm model in parallel using jax. Let me know if this is what you need.

[code]

[2021-11-08 11:20] TomTranter commented on #61
Fantastic thanks. Will you be joining the dev meeting later? I will play with it now and may have a few questions

[2021-11-08 12:52] wigging commented on #61
@martinjrobins Can Jax perform in parallel using multiple machines?

[2021-11-10 09:15] brosaplanella opened #63 "Fix benchmark workflows"
Fix the errors in the existing benchmark workflows

[2021-11-10 09:16] #41 closed

[2021-11-10 09:19] TomTranter commented on #8
@tinosulzer @rtimms @brosaplanella what are your thoughts on this? I was thinking of converting the event flags to variables and having them get calculated at each time step and output by the liionpack solver like the variables are. We could handle them simply by monitoring for changes without going back and recalculating the solution to find the exact stopping point.

[2021-11-10 09:20] TomTranter commented on #23
@tinosulzer had some thoughts on using non-dimensional time for this and controlling time-step around discontinuities. This would probably have to be disabled for drive cycles. Would we need to recalculate consistent initial conditions?

[2021-11-10 09:39] brosaplanella commented on #8
I am not sure about the insides of liionpack, but aren't the events of the cell models inherited? I mean, if we run SPMs, don't they inherit the events of the SPM? Or are we talking about experiments?

[2021-11-10 10:11] rtimms commented on #8
So I think the way liionpack is set up (just using the casadi integrator, not the pybamm `step`) it _might_ fail when you hit an event, depending on the model. In this case I guess the whole thing just crashes?

Even if it doesn't fail it won't return the event time. So some of the models will have stepped past the event. This might be ok if you were just running, say, a constant current discharge

[2021-11-11 10:02] TomTranter commented on #8
I'm beginning to favour this approach

[2021-11-11 10:05] TomTranter commented on #8
I don't want to end up re-writing a lot of functionality that's already in pybamm but also there will be liionpack specific optimisation that will take place probably. Also I think there's going to be events that break the solver and events that are more like experiment stop conditions.

[2021-11-11 10:06] TomTranter commented on #8
I'm less concerned about going to the exact event time as our step sizes are small anyway

[2021-11-13 07:54] TomTranter commented on #30
We now have a solution in the dask PR #66 but it's slower than just running the casadi integrator. I don't know how that mapped integrator works as the docs are very patchy and you can only get so far with debug but they must be doing something clever because it's pretty instantaneous to kick off. It looked like dask actors were going to be useful and might still be but are quite experimental. The

[2021-11-13 10:24] TomTranter commented on #63
@brosaplanella can this issue be closed?

[2021-11-13 11:13] brosaplanella commented on #63
Sorry, yes!

[2021-11-13 11:13] #63 closed

[2021-11-13 17:49] wigging commented on #30
Keep in mind that the reason to use Dask is to be able to scale to multi-node clusters (CPUs and GPUs). Can Casadi, Ray, etc. take advantage of such hardware or are they limited to a single machine?

[2021-11-13 20:24] TomTranter commented on #30
Ray certainly can. We need to find out how the casadi map works. No answer from them on the forum yet

[2021-11-16 15:28] TomTranter commented on #34
address with #67

[2021-11-16 15:28] #34 closed

[2021-11-16 15:59] ksnvikrant opened #68 "saving output for a simulation reaching high/low voltage cut-off"
If a cell in the simulation reaches high/low cut-off voltage, the output is not saved. The error looks something like the following:
**Solving Pack:  25%|████████████████                                                 | 156/630 [00:04<00:13, 35.83it/s]High voltage limit reached
Solving Pack:  25%|████████████████▍                                                | 159/630 [00:04<00:13, 34.70it/s]
T

[2021-11-19 16:06] TomTranter commented on #30
Addressed in pr #66

[2021-11-19 16:06] #30 closed

[2021-11-19 16:08] TomTranter commented on #52
My question is going unanswered. I think we've done all we can for now with casadi. I pushed some speedups to netlist solve which helped and some other parallel solvers in pr #66

[2021-11-19 16:08] #52 closed

[2021-11-19 16:41] TomTranter commented on #48
The code to run a DFN model is now in the solver classes #69 but they will not actually run it because a simulation is created behind the scenes and the model is determined there. Need to think about what PyBaMM objects are best controlled by the users and what are best controlled by the liionpack solvers. I will create a new issue for this.

[2021-11-19 16:51] TomTranter commented on #57
Hi @ksnvikrant this issue is also related to being able to pass in the model flexibly. I think the answer to both is to set up the simulation and then pass that into the liionpack solvers. Only problem there is how to enforce the current to be an input. I guess throwing errors if it's not might be ok for now. The code changes you made will now be out of date after the solver refactor so I think it

[2021-11-19 17:07] TomTranter opened #71 "Allow user to pass in simulation instead of parameter_values"
This would probably help with issues #57 and #48 but might cause some confusion. The reason simulation was created behind the scenes was to setup the model with the thermal option and also to make the current and heat transfer coefficients inputs. Actually the thermal model doesn't need to be set by default and the inputs should be handled more generically allowing the user to specify anything as

[2021-11-19 17:08] TomTranter commented on #68
Solved with #70

[2021-11-19 17:08] #68 closed

[2021-11-19 18:33] TomTranter commented on #18
Done in #73

[2021-11-19 18:33] #18 closed

[2021-11-19 18:36] TomTranter commented on #19
The nodes now have coordinates. If we wanted to show an image just for the batteries I could also add a battery grid index or there could be some logic to work it out from the nodes. Could also change descriptions of V in the netlist to be V_r1_c2 etc. I haven't benchmarked the effect of increasing the amount of info in the netlist for large problems but it could make a difference... We could also

[2021-11-19 18:38] TomTranter commented on #42
@Saransh-cpp or @priyanshuone6 would you like to take a look at this? I'm planning to add anyone who contributes as author to a JOSS paper

[2021-11-19 18:39] TomTranter commented on #71
@tinosulzer @rtimms what do you think about how to handle always setting current as input but allow user to pass simulation. It would sometimes require re-building model I guess

[2021-11-19 18:46] priyanshuone6 commented on #42
I can work on this, the process of adding google colab is quite similar to pybamm

[2021-11-19 18:59] #48 closed

[2021-11-19 19:15] rtimms commented on #71
Yeah it deffo gives more control to the user in a neatly packaged way (they get to pick options, mesh etc.) this way. Where would the simulation need rebuilding? You can just build once like we do now I think?

You could always add some checks on options we don’t want to support yet or on what inputs you can pass.

If not we should at least allow the user to pass a model and any inputs they want,

[2021-11-19 19:42] wigging opened #74 "GitHub Action workflow to check conda environment"
Can someone add a GitHub Action to build and check the conda environment? I don't have permission to update the workflow in this repository but I believe it would be something like this:

[code]

[2021-11-19 19:43] wigging commented on #74
Looks like @Saransh-cpp created the current workflow so maybe he can add a conda build.

[2021-11-19 20:15] Saransh-cpp commented on #74
@wigging I pushed a new branch that adds conda to GitHub Actions, I'll make a PR if the tests pass.

[2021-11-19 20:17] Saransh-cpp commented on #74
Oh wait, are we adding the conda build, or are we replacing the old CI with just the conda build? (Right now I am replacing it)

[2021-11-19 20:46] wigging commented on #74
Add it to what you did before. The idea is to make sure liionpack builds correctly using the pip approach and that it also builds correctly using the conda approach.

[2021-11-19 21:32] TomTranter commented on #71
I was thinking the simulation would need rebuilding if they had not configured current as an input

[2021-11-20 18:08] #74 closed

[2021-11-20 18:08] TomTranter commented on #42
done in pr #75

[2021-11-20 18:08] #42 closed

[2021-11-21 15:52] Saransh-cpp opened #81 "Documenting multiple return values"
Right now `mkdocstrings` doesn't support multiple return values or adding a name for the return values (hence the weird return values part in functions with > 1 return value).

![image](https://user-images.githubusercontent.com/74055102/142769121-31ba3230-4e21-4f62-b474-664fd40a0b51.png)

This can be worked upon once the feature is added in.

Refer - https://github.com/mkdocstrings/mkdocstrings/is

[2021-11-22 04:28] wigging opened #82 "Array split does not result in equal division"
Splitting the arrays for attributes `self.split_index` and `self.htc` in solvers.py throws an error if the number of cells is not evenly divisible by the number of processes `nproc`. For example, using `Np = 32`, `Ns = 20` with `nproc = 6` does not work for the Dask and Ray solvers. This can be avoided using `np.array_split` but this creates another error about a singular matrix caused by divide b

[2021-11-22 09:35] TomTranter commented on #82
@wigging  I am aware that my method was crude and was concentrating on just getting parallelism working. I don't know why the R_map would have zeros in it.... Do you wanna try fixing this?

[2021-11-22 11:53] rtimms commented on #71
The simulation doesn't build until you call `build` or `solve` (which calls `build`), so you could update the parameters still.

[2021-11-22 17:03] TomTranter commented on #71
This is causing issues in multiple places. Firstly dask can't serialize the simulation and secondly I need to override the experiment otherwise calls to sim.solve to initialize the solution for the liionpack step fail and it's getting messy. I think it might be easier to stick with what we have for now

[2021-11-22 17:36] #71 closed

[2021-11-22 19:33] wigging commented on #82
I started a **fix-arraysplit** branch and made the changes from NumPy `split` to `array_split`. I have not fixed the issue this causes in `netlist_utils.py` but here is the error I'm getting:
[code]

[2021-11-22 19:42] TomTranter commented on #82
What script are you running?

[2021-11-22 19:46] wigging commented on #82
Running `big_circuit_ray.py` for `nproc=5` using the Dask or Ray manager.

[2021-11-22 19:56] TomTranter commented on #82
spm_per_worker needs to be the length of the chunk whereas it's a constant at the moment

[2021-11-22 20:58] wigging commented on #82
I think I have it fixed. Let me run some examples before pushing up the changes.

[2021-11-23 03:16] priyanshuone6 opened #85 "Include circuits, data, init_funcs in setup.py"
## Describe the bug
Installing liionpack using `pip install -q git+https://github.com/pybamm-team/liionpack.git@main` does not include circuits, data, init_funcs folders in the package

<img width="802" alt="Screenshot 2021-11-23 083844" src="https://user-images.githubusercontent.com/64051212/142965835-1bf5d546-7cf6-4051-9466-4a63f504cc4d.png">

<img width="796" alt="Screenshot 2021-11-23 084018"

[2021-11-23 03:34] priyanshuone6 commented on #85
@TomTranter @wigging what files and extensions from these folders should I include in the package?

[2021-11-23 11:33] TomTranter commented on #85
We might want to move all of these to a features folder. I'm not sure what to do with init_funcs as it was used for setting intial SoC which we changed how to do but actually for a pack problem where you might want to intialize with a bunch of different values it could be useful. The other two are quite bespoke and used for an example of loading in your own netlist. For now include everything

[2021-11-23 11:58] #82 closed

[2021-11-23 12:00] TomTranter opened #86 "ray multiprocessing test on github actions"
See PR #87 for failing test

Getting this error running ray on github actions server. Could be something to do with how we're pip installing? @priyanshuone6 any ideas?
RuntimeError: The actor with name ray_actor failed to import on the worker. This may be because needed library dependencies are not installed in the worker environment

[2021-11-23 12:51] priyanshuone6 commented on #86
The same happened when I was working on running jax tests in the workflow, and it got solved after installing it in the tox environment.
Perhaps we need to install and run all these in the relevant conda environment
https://github.com/pybamm-team/liionpack/blob/6db7aa0ff6fabd25111b2dce17c8934f807d3a54/.github/workflows/test_on_push.yml#L50-L57

just like these
https://github.com/pybamm-team/liionp

[2021-11-23 12:55] priyanshuone6 commented on #86
I can see a commit https://github.com/pybamm-team/liionpack/commit/f4cfbc66747b6fd68d1aa1cee487b0d89fdcee8c#diff-2fbc801faaed9a628483d63edb74d7c5cc8af99f1a311dd46d18e5fe198fbcac by @Saransh-cpp on this, don't know what went wrong

[2021-11-23 13:06] Saransh-cpp commented on #86
Right now the tests are running twice -

1. Using no environment (using `pip`, including installing all the dependencies using `pip`)
2. Completely in the `conda` environment (including installing all the dependencies in the `conda` environment)

The final error that the workflows show is -
[code]
when the tests are running using pip, which is weird because there are no issues with other dependenc

[2021-11-23 22:37] TomTranter commented on #86
Fixed with pr #87

[2021-11-23 22:37] #86 closed

[2021-11-24 09:07] #85 closed

[2021-11-24 20:38] TomTranter commented on #8
done in pr #88

[2021-11-24 20:38] #8 closed

[2021-11-24 20:40] TomTranter commented on #57
@ksnvikrant I've just pushed a bunch of changes which should help you with this issue. There is a new notebook on using inputs. Let me know if you have any questions

[2021-11-24 20:42] TomTranter opened #91 "Better initial guess for current"
This is currently set by the netlist which can be created with any arbitrary current. It should come from the first step of the experiment

[2021-11-24 20:43] TomTranter opened #92 "draw_circuit no longer showing values"

[2021-11-24 20:43] TomTranter commented on #81
@Saransh-cpp shall we close?

[2021-11-24 20:47] TomTranter opened #93 "move example notebooks to docs/examples and add to docs"
I changed my mind about this - the examples look nice in the docs online and I don't think putting them inside the docs subdirectory hides them too badly

[2021-11-24 22:44] #93 closed

[2021-11-25 07:33] #81 closed

[2021-11-25 12:03] #92 closed

[2021-11-25 13:12] #91 closed

[2021-11-25 13:45] TomTranter commented on #23
base_solver in PyBaMM has two method that are called (I think only logic effected if model has algebraic component , DFN only) to alter initial conditions and find consistent states.
[code]

[2021-11-25 18:22] ksnvikrant commented on #57
Hi @TomTranter Thanks for the changes. I tried to create an example for different initial SOC condition for the cells in pack. However, it is still taking the first initial SOC of the cell and populating across all other cells. In order to run the example below, first you need to **comment line 44 of solvers.py**, i.e., **#lp.update_init_conc(self.simulation, SoC=initial_soc)**. The example code i

[2021-11-26 09:13] TomTranter commented on #57
We could change the logic in the solvers to not use the initial_soc argument if is None and change the default and that should allow you to customize in this way or we could develop the logic to accept an array of initial_soc

[2021-11-26 11:22] TomTranter commented on #23
It would appear that the problem isn't time stepping but the internal resistance calculation when we have small rebalancing currents when system is at rest

[2021-11-26 16:09] Naroek56 opened #100 "Adding external resistance option"
For cell modelling it would be helpful to add a term that takes into account external series resistances such as tab weld resistances.
Would it be possible to add an optional resistance term to the simulation?

Thanks in advance!

[2021-11-26 17:26] TomTranter commented on #100
I think you made this issue on the wrong repository?

[2021-11-26 17:41] Naroek56 commented on #100
I did, sorry, I had it open and forgot to switch back!

[2021-11-26 17:41] #100 closed

[2021-11-26 17:49] TomTranter opened #101 "Add a nicer plot style and toggle black or white with notebook context"

[2021-11-29 17:22] #19 closed

[2021-11-29 17:22] #101 closed

[2021-12-01 13:10] #23 closed

[2021-12-02 13:46] TomTranter commented on #57
This issue should now be addressed by PR #103 which is merged. See https://github.com/pybamm-team/liionpack/blob/main/examples/different_initial_soc.py for example and let me know if we can close this issue

[2021-12-02 13:51] TomTranter commented on #57
@ksnvikrant also that other branch is redundant now so can you delete it?

[2021-12-03 08:57] #57 closed

[2021-12-03 15:32] wigging opened #106 "Update examples to use latest version"
I pulled down the latest version of liionpack and I'm getting voltage limit warnings for many of the examples. And some of the examples fail to run. Does the test suite check these examples when the main branch is updated or when pull requests are submitted?

[2021-12-06 11:08] TomTranter opened #107 "slow initialization"

[2021-12-06 11:46] TomTranter opened #109 "add more benchmarks"

[2021-12-06 18:32] TomTranter commented on #109
addressed in pr #108

[2021-12-06 18:33] #109 closed

[2021-12-06 18:33] TomTranter commented on #107
addressed in pr #108

[2021-12-06 18:33] #107 closed

[2021-12-07 11:55] TomTranter commented on #106
notebooks are checked but scripts not. I've been using that scripts folder as a bit of a sandpit to be honest. I think we should get rid of it and just use the notebooks

[2021-12-07 14:10] TomTranter opened #111 "Fix build"
A test failed overnight comparing netlist solves. This always passes locally so not sure what happened but probably the test can be removed

[2021-12-07 14:42] TomTranter commented on #106
We can keep them if you like but I use them for longer simulations and to include them in tests would be a pain.

[2021-12-07 14:45] TomTranter opened #112 "Allow picking terminal location / node"
The default is always both positive and negative on the left of the pack. Could introduce a left / right option or an integer for the node on each busbar but this would be more tricky to validate and represent in the schematics but to be honest the schematics take an age to render for packs larger than a few 10s of batteries so might need to overhaul that anyway

[2021-12-07 14:47] wigging commented on #106
I would prefer to keep them in the repo. Others may find them useful too. I will go through the script files today and update them for the latest version.

[2021-12-07 17:35] #111 closed

[2021-12-07 18:14] TomTranter commented on #106
I think the issue is probably the Chen2020 parameter set has initial conditions for particle concentrations near SoC of 1.0 and we start the cycles by charging. initial_soc is also None by default which means it just takes the parameter values defaults. Setting initial_soc to 0.5 fixes this

[2021-12-12 10:26] #112 closed

[2021-12-14 09:28] #24 closed, assigned to TomTranter

[2021-12-14 09:30] TomTranter opened #117 "Tidy up files and function names and imports"

[2021-12-14 09:32] #106 closed

[2021-12-14 17:46] #117 closed

[2022-01-11 17:15] TomTranter opened #120 "Add step method to solvers"
In order to implement external variables which are useful for things like temperature which has been calculated by an external algorithm we need a step method

[2022-01-11 17:21] TomTranter opened #121 "Circuit solve vectorized doesn't work for all topologies"
It's fine for square configurations where each busbar node is connected to one battery only but for jellyroll packs where current collectors are double sided it fails. Non-vectorized version works fine but is a bit slower.

[2022-01-11 19:39] wigging opened #122 "Use of the period parameter for an experiment"
In liionpack, the value of the `period` parameter for an experiment is used to determine the length of each time step. In PyBaMM the `period` is how often outputs are recorded (see the [PyBaMM docs]) and therefore is not the time step used for calculations. Unless I'm misunderstanding the documentation, the `period` in liionpack is different than the `period` in PyBaMM. If this is correct, I sugge

[2022-01-12 09:06] kenan991 opened #123 "power charging"
Is there a specific reason why other than in PyBaMM there are only constant current operations are supported? in another word is there any way I can dis/charge power from/to battery?
and is liionpack a suitable library for simulating the behavior of a bigger battery like a power bank?

[2022-01-12 10:33] TomTranter commented on #122
Yes you are correct but this is because the solvers are very different and I didn't want to re-invent the experiment class for liionpack. To be honest I don't think it's really an issue. Having said that I now think that we might get issues when experiments are defined with steps of different periods so maybe it is worth making our own one...

[2022-01-12 10:34] TomTranter commented on #123
No specific reason other than it hasn't been developed yet. liionpack is still pre-release. If you are interested in adding that functionality we can help and that would be great

[2022-01-12 15:53] wigging commented on #122
I see in the liionpack docs that the `period` parameter is defined as the time step. So I guess it's fine as long as it's mentioned in the documentation.

[2022-01-12 15:53] #122 closed

[2022-01-25 09:45] mefuller opened #125 "JOSS review: issues/support"
Please add guidelines/templates/instructions or similar for opening issues and seeking support.
The contributor guidelines are good, but there isn't a clear set of instructions for those having issues without intending to contribute otherwise.

[2022-01-25 09:49] mefuller opened #126 "JOSS review: documentation"
I am unable to find a link to proper documentation, just example notebooks.
Where is the documentation to be found? Please make the location more visible on the main page

[2022-01-25 10:00] priyanshuone6 commented on #126
@mefuller thanks for catching that. The link to the documentation can be found in the [contributing guidelines](https://github.com/pybamm-team/liionpack/blob/main/docs/contributing.md). I'll make a PR and include it in the readme.

Documentation link - https://liionpack.readthedocs.io/

[2022-01-25 10:06] mefuller commented on #126
Thanks - I still don't see a clear overview of commands, just examples.
The documentation would definitely need to include that to pass JOSS review

[2022-01-25 13:09] TomTranter commented on #126
The docs can be found by clicking on the docs badge in the readme on the homepage. I can also include an explicit link

[2022-01-25 13:12] TomTranter commented on #126
Overview of commands can be found here https://liionpack.readthedocs.io/en/main/reference/

[2022-01-25 18:02] #125 closed

[2022-02-02 12:36] #126 closed

[2022-02-02 12:39] mefuller opened #128 "JOSS Review: Paper"
### Description

Paper needs references updated with DOIs where possible (see https://github.com/openjournals/joss-reviews/issues/4051#issuecomment-1010721400)

Also, please add some "literature review" or survey to identify what other software packages (if any) exist that provide similar capabilities and how these differ.

Thank you

### Motivation

_No response_

### Possible Implementation

_No

[2022-02-04 09:59] TomTranter commented on #128
@mefuller I have made a pull request to address these points but I can't assign you to review it. Shall I just merge it in?

[2022-02-04 14:26] mefuller commented on #128
@TomTranter sure thing - I looked at the PR and the changes are satisfactory

[2022-02-04 14:26] #128 closed

[2022-02-08 21:01] tinosulzer opened #130 "[Bug]: can't conda install via environment.yml on mac"
### liionpack Version

n/a

### Python Version

3.9

### Describe the bug

Install command suggested in the readme fails
[code]

### Steps to Reproduce

_No response_

### Expected behaviour

Installs

### Relevant log output

_No response_

### Additional context

Mac OS on M1

Possibly related to https://stackoverflow.com/questions/58219956/how-to-fix-resolvepackagenotfound-error-when-creating-c

[2022-02-08 21:51] EricaEgg opened #131 "[Bug]: Package installation error in paper_example.py"
### liionpack Version

0.2.1

### Python Version

3.9.7

### Describe the bug

I have imported the environment.yml file given in the repo and successfully built the environment. However, when I run some of the example files, I get a common error. For example, in the paper_example.py script, after running `lp.draw_circuit(netlist, cpt_size=1.0, node_spacing=2.2)`, I get the following error: `Runtim

[2022-02-09 01:16] wigging commented on #61
I tried to run the Jax example that @martinjrobins posted above but I get the following error:

[code]

[2022-02-09 01:42] wigging commented on #130
This may be an issue with installing on the new Apple Silicon M1 Mac. Is Anaconda/Conda supported on M1 Macs? I have an Intel MacBook Pro and I don't have any liionpack installation issues with conda install using the `environment.yml` file.

[2022-02-09 01:55] wigging commented on #131
Do you have LaTeX installed on your Mac? See https://tug.org/mactex/ for download and installation instructions.

[2022-02-09 15:53] tinosulzer opened #133 "[Bug]: Logger prints everything twice"
### liionpack Version

main

### Python Version

3.9

### Describe the bug

Logger prints everything twice. It seems there are two loggers active with different formatting

### Steps to Reproduce

Run `examples/basic_16p2s.py`

### Expected behaviour

Only one logger output

### Relevant log output

[code]

### Additional context

_No response_

[2022-02-09 15:55] tinosulzer commented on #130
I was able to install without any problems by first creating an empty environment then pip installing into it. Have never tried doing it with an `environment.yml` though, maybe that isn't supported. Also I have to use miniforge, don't know if that makes a difference

[2022-02-09 16:19] wigging commented on #130
Did you create the empty environment using conda or pip?

[2022-02-09 16:23] tinosulzer commented on #130
conda

[2022-02-09 16:25] tinosulzer opened #135 "[Bug]: ResourceWarning: unclosed file"
### liionpack Version

0.2.1

### Python Version

3.9

### Describe the bug

Lots of `ResourceWarning` about unclosed files when running the unit tests

### Steps to Reproduce

Run `python -m unittest`

### Expected behaviour

No warnings

### Relevant log output

[code]

### Additional context

_No response_

[2022-02-09 16:33] wigging commented on #130
Can you try to install liionpack using the pip venv approach on your M1 Mac and see if you have any issues?

[code]

[2022-02-09 16:40] tinosulzer commented on #130
Yeah that works

[2022-02-09 17:52] wigging commented on #130
So this looks like a conda issue with M1 Macs and not an issue with liionpack itself. Also, I don't see an Anaconda installer for M1 Macs (https://www.anaconda.com/products/individual). I see a Miniconda installer for the M1 Mac that was released in November for Python 3.8.

[2022-02-09 18:42] tinosulzer commented on #130
Ok, thanks for following up

[2022-02-09 18:42] #130 closed

[2022-02-09 20:46] tinosulzer opened #136 "Pass `model` to solve as an alternative to `sim_func`"
### Description

Add a `model` keyword argument to `lp.solve` where a user can pass in a pybamm model (instead of via `sim_func`). This is slightly easier than having to write an entire `sim_func` function, if all you want to change is the model

### Motivation

Pro: easier to change the model and leave everything else the same
Con: more ways of doing the same thing

### Possible Implementation

[

[2022-02-09 22:34] EricaEgg commented on #131
Ah, got it! It is resolved

[2022-02-10 00:59] tinosulzer opened #137 "Symbolic pre-solve for circuit equations?"
Since the structure of the Modified Nodal Analysis equations never changes for a given circuit, we make the circuit set-up and solve time almost negligible by pre-solving the linear system with symbolic values for the resistances and OCVs. I think sympy can do this. Then at each iteration, we just substitute in the resistance and OCV and evaluate the pre-solved equations.

Thinking further along t

[2022-02-10 08:47] TomTranter commented on #61
@wigging yes we changed how timescale is implemented recently in pybamm. Can you run it with the suggested option for a scalar timescale

[2022-02-10 08:50] TomTranter commented on #136
The reason I have set it up as a sim_func is that the function gets run on every sub-process which is less expensive and memory intensive than passing objects to each sub-process. I agree it's not as easy as passing a model and probably for small problems would work fine but for large scale problems I was getting a lot of issues making pybamm objects and passing them around.

[2022-02-10 08:54] TomTranter commented on #137
Great ideas, I had thought about making one big system but you do need the stepping for the thermal equations if you include external sources and cell to cell connections that don't exist in the electrical network. I'm very open to exploring these ideas though as if you could just a big system at sundials and get parallelisation done for you that might be better. Definitely we should implement a p

[2022-02-10 08:56] TomTranter commented on #133
Good spot, I'd noticed the multiple messages too but hadn't noticed they were slightly different. If you run the same script in an ide multiple times you get that number of repetitions. Was on my radar to figure out why but hadn't got round to it yet

[2022-02-10 08:58] TomTranter commented on #131
Thanks for spotting this @EricaEgg we'll add some more installation instructions

[2022-02-10 09:57] #131 closed

[2022-02-10 19:11] tinosulzer commented on #136
I was thinking that if the user passes a model instead of a sim_func it would automatically create a basic sim_func using that model. Something like
[code]

[2022-02-11 08:22] TomTranter commented on #136
@tinosulzer we can set it up and see what the speed is like for a large problem, maybe we could actually get away with passing an unbuilt simulation

[2022-02-25 14:27] survik19 opened #144 "Post-processing of the data"
Is there a way to save the output of extensive cycle data of battery pack and use it later on in post-processing to generate required plots? Sometimes rerunning the simulation is time-consuming; therefore, it will be helpful to save the output and use it for post-processing.

[2022-02-25 20:36] wigging commented on #144
@survik19 I created a pull request that may satisfy this issue. I noticed that saving to CSV takes up a lot of disk space compared to using NumPy's binary formats `.npy` and `.npz`.

[2022-02-26 13:43] TomTranter commented on #144
I think we also need to journal the simulation objects themselves so that you can restart a simulation from a later point if it fails or for other reasons. This will be more tricky I expect and probably not using the npz files but in some ways they might be better than a pickle file which would rely on persisting the class definitions. Something to discuss

[2022-04-08 07:38] TomTranter opened #147 "[Bug]: Build failing 'SPM' object has no attribute 'init_eval'"
### liionpack Version

Latest

### Python Version

All

### Describe the bug

Current build failing due to expected behaviour from PyBaMM being changed.

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-04-09 19:25] Mykle99 opened #149 "[Feature Request] Saving and replacing or starting with different simulation solutions"
### Description

A method to simulate differently aged cells in one and the same circuit with liionpack. After a given amount of cycles one can specify cells in the circuit that are to be removed and replaced with unaged or other cells from another circuit which has been cycled differently.

### Motivation

- Simulate the behaviour of systems which combine aged/non-aged cells
- Simulate the behavi

[2022-04-11 16:30] TomTranter commented on #149
Thanks @Mykle99 I think a first step would be to change liionpack to accept an initial PyBaMM solution to start from. Currently the solutions are initialised behind the scenes to save transferring data to parallel processors. PyBaMM does not allow you to specify an SoH or RuL as an initial condition because it would be way too complicated and subjective. However what you could do is run a single c

[2022-04-12 11:52] brosaplanella opened #150 "[Bug]: pip install in Windows"
### liionpack Version

v0.3

### Python Version

3.7.7

### Describe the bug

When trying to `pip install liionpack` on Windows it does not work because `ray` can't be pip installed (it needs to use conda, see [here](https://docs.ray.io/en/latest/ray-overview/installation.html#windows-support). Not sure where `ray` is used. If it is not fundamental, can we make it optional (similar to `scikits-ode

[2022-04-12 16:34] wigging commented on #150
Ray, Casadi, and Dask are managers that can be defined for the solver. See the [solver_utils](https://liionpack.readthedocs.io/en/latest/reference/#liionpack.solver_utils.solve) documentation. Ray gives the best parallel performance for large pack simulations using more than 64 CPU cores. I have only used it on Linux and macOS but the [Ray documentation](https://docs.ray.io/en/latest/ray-overview/

[2022-04-13 08:36] brosaplanella commented on #150
Yes, but from [this link](https://docs.ray.io/en/latest/ray-overview/installation.html#windows-support) it seems that the only way to install is using conda and, at least from my experience, simply doing `pip install ray` does not work. Therefore, running `pip install liionpack` fails to install liionpack in Windows (due to this problem with `ray`).

[2022-04-18 15:35] SyarifulAzis1018 commented on #147
how can i fixed it?

[2022-04-19 09:04] Mykle99 commented on #149
Is there a way to bounty issues/feature requests?

[2022-04-19 10:53] TomTranter commented on #147
@SyarifulAzis1018 the problem should be fixed if you are running the latest version of PyBaMM and liionpack from github. You need to clone liionpack and use that instead of pip until the next release. Few more things I need to do before releasing. Or roll back PyBaMM to an earlier release from pip and use that

[2022-04-19 10:54] TomTranter commented on #149
Do you mean upvote or are you asking if you can pay for it?

[2022-04-19 12:24] Mykle99 commented on #149
Is paying within the guidelines of GitHub, or is it not allowed? From the nature of your answer I assume, there are no personal reputation bounties similar to those found on StackOverflow.

[2022-04-20 03:47] dynamicwebpaige opened #151 "[Dask-on-Ray] Potential to try in `solvers.py`?"
### Description

Greetings!

It looks like `liionpack` is using `dask`, and `ray`; but has not yet tested [Dask-on-Ray](https://docs.ray.io/en/latest/data/dask-on-ray.html) -- which is a drop-in replacement for using distributed Dask, with Ray as a backend.

Would it make sense to try `enable_dask_on_ray()`, and see if you experience a performance improvement for [`solvers.py`](https://github.com/

[2022-04-20 04:22] wigging commented on #151
@dynamicwebpaige The first link you provide about Dask on Ray states the following:

So based on that statement I don't see how Dask on Ray would improve anything. I have done several comparisons of the Dask and Ray solvers in liionpack and Ray consistently performs better than Dask. Also, in your second link, the 13.5x speed-up refers to Ray vs Dask Distributed. It doesn't mention that Dask on Ra

[2022-04-20 15:40] TomTranter commented on #149
No I don't think so

[2022-04-21 15:37] TomTranter opened #152 "Memory profiling"
@wigging could give this a try https://github.com/bloomberg/memray

[2022-04-21 15:51] wigging commented on #152
Already working on it. I ran [memory-profiler](https://pypi.org/project/memory-profiler/) and need to collect the results. I'll try memray too. Any particular pack configurations or parameters you want me to run?

[2022-04-23 17:34] TomTranter commented on #152
Not really, just see how it scales with number of processors

[2022-04-27 15:05] wigging commented on #152
Below are some memory profiling results. I used the [Memray](https://github.com/bloomberg/memray) and [memory_profiler](https://github.com/pythonprofilers/memory_profiler) tools to log the memory usage during various pack simulations. Information about the system I ran the tests on is here:

[code]

## Small pack tests, 16p2s, 1 cycle

Memory tests for the `pack_16p2s.py` example using the Casadi

[2022-04-27 19:25] TomTranter commented on #152
Well probably we would see a trend with fewer cycles. Going from 1 to 10 increased by 20mb it would seem for the small pack. Would be interesting to see the increase on the medium pack

[2022-04-28 06:15] HongRi0716 opened #153 "Build circuit structures flexibly"
### Description

Different parallel branches can be set, and the battery on each branch can be arbitrarily bypassed .

### Motivation

Simulate the behaviour of systems which combine aged/non-aged cells;
According to states of cells, reconfigure the circuit structures to achive cell balancing

### Possible Implementation

_No response_

### Additional context

_No response_

[2022-04-28 10:39] TomTranter commented on #151
Hi @dynamicwebpaige we had a chat with the dask team as we are using actors to persist the state and it seemed like actors were a bit experimental. If you feel like having a look at our code to see if you can speed it up then more than welcome but probably our most likely route going forward is to just use ray which as @wigging mentioned seems to be more reliable for our use case.

[2022-04-28 10:42] TomTranter commented on #153
Hi @HongRi0716 is this something you have started working on?

[2022-04-28 11:40] HongRi0716 commented on #153
Yes. We are going to use reinforcement learning to control the switches of reconfigurable batteries, so as to achieve cell balancing. We are trying to establish a simulation environment for reconfigurable batteries, possibly through Python or MATLAB.

[2022-04-28 11:41] HongRi0716 commented on #153
@TomTranter Yes. We are going to use reinforcement learning to control the switches of reconfigurable batteries, so as to achieve cell balancing. We are trying to establish a simulation environment for reconfigurable batteries, possibly through Python or MATLAB.

[2022-04-28 11:43] HongRi0716 commented on #153
@TomTranter No. We are just going to use reinforcement learning to control the switches of reconfigurable batteries, so as to achieve cell balancing. We are trying to establish a simulation environment for reconfigurable batteries, possibly through Python or MATLAB.

[2022-04-28 12:06] HongRi0716 commented on #153
@TomTranter No. We are just going to use reinforcement learning for reconfigurable batteries to achieve cell balancing. We are trying to establish a simulation environment for reconfigurable batteries, possibly through Python or MATLAB.

[2022-04-28 14:43] TomTranter commented on #153
@HongRi0716 sounds interesting, are you academia or industry? Re-configuring the grid would be reasonably straightforward I think

[2022-04-29 15:40] wigging commented on #152
Did more tests with the memory_profiler tool for the small pack. I also have some medium pack results which I'll share in the next comment.

## Small pack tests, 16p2s, 1 cycle

Memory_profiler results for `pack_16p2s.py`. Experiment is a single charge/discharge cycle. Period is 10 seconds. Top plot is casadi and bottom plot is ray.

| Run | Cores | Description   | Total memory |
|-----|-------|--

[2022-04-29 15:58] wigging commented on #152
Here are the medium pack results.

## Medium pack test, 32p20s, 100 cycles

Memory_profiler results for `pack_32p20s.py` at 20 second intervals. Experiment is a single charge/discharge for 100 cycles. Period is 30 seconds. Top plot is casadi and bottom plot is ray.

| Run | Cores | Solver  | Total memory |
|-----|-------|---------|--------------|
| 1   | 20    | casadi  | 872 MiB      |
| 2   | 20

[2022-04-30 10:02] TomTranter commented on #152
Thanks @wigging does it break down what variables are contributing at all?

[2022-04-30 18:27] wigging commented on #152
The memory_profiler tool just gives total memory over time and it works with the Casadi and Ray liionpack solvers. Memray shows how the memory is allocated but I can't get it to work properly with the Ray solver. So my next test is to use Memray with the Casadi solver and see if I can tell what is increasing the memory.

[2022-05-02 18:32] wigging commented on #152
Here are more results using the memory_profiler tool. Compare these to the Memray results in the next comment.

## Medium pack test, 32p20s, 10 cycles

Memory_profiler results for `pack_32p20s.py` at 10 second intervals. Experiment is a single charge/discharge for 10 cycles. Period is 30 seconds. Plot is casadi results.

| Run | Cores | Solver  | Total memory |
|-----|-------|---------|-----------

[2022-05-02 18:37] wigging commented on #152
Here are results from the Memray profiler.

## Medium pack test, 32p20s, 10 cycles

Memray results for `pack_32p20s.py`. Experiment is a single charge/discharge for 10 cycles. Period is 30 seconds. Memray ran out of storage space for experiments with more than 10 cycles.

| Run | Cores | Solver  | Total memory |
|-----|-------|---------|--------------|
| 1   | 20    | casadi  | 357 MB       |

Mem

[2022-05-02 19:19] wigging commented on #152
The flame graph represents allocations contributing to peak memory usage. According to the flame graph for the 32p20s 10 cycles test using the Casadi solver, most of the memory usage is associated with the following liionpack functions, methods, and properties:
- `self.setup_actors()`
- `solve_circuit_vectorized()`
- `self.step_actors()`
- `self.output`

[2022-05-03 08:18] TomTranter commented on #152
Would it be easy to run the same script for twice as long and compare the output to see which objects grew? We could also just try throwing in a bunch of del statements to objects that could be the issue to see what works. I've never really understood how garbage collection works - especially for parallel processes but potentially as the processes are getting continuously used rather than destroye

[2022-05-03 12:49] wigging commented on #152
If I run it longer, more than 10 cycles, I run out of storage space and Memray crashes. I could run 5 cycles and compare that to the memory usage for 10 cycles.

[2022-05-06 12:58] TomTranter commented on #153
In the first instance it seems like the most straight-forward thing to do would be to increase the connection resistance along a string in order to bypass the branch. I have never tested the code doing this so may cause numerical issues but it should be ok. Then if that doesn't work the next easiest solution would be to run a simulation and save the results then generate a new netlist and instanti

[2022-05-11 17:07] TomTranter commented on #153
I think at this point editing the netlist directly is acceptable because the netlist is not constrained to be a standard combination of parallel and series connections. For large packs that are constrained in this way is would be helpful to have a way of easily accessing specific connections between cells. This would involve implementing some more advanced graph notation or classes for the netlist

[2022-05-12 06:15] bessman commented on #153
I'm in industry.

[2022-05-12 13:51] TomTranter commented on #153
@bessman 0D variables are output automatically and this was done for efficiency and simplicity. We could create an option to save the whole solution for each battery but this will quickly grow in memory for large packs

[2022-05-18 19:29] wigging commented on #152
The latest Memray update (v1.1.0) fixed the large bin file size. The table below compares the storage size of the bin file generated from Memray v1.0.3 (Run 1) and v1.1.0 (Run 2). The bin size from v1.1.0 is much smaller at 1.7 GB compared to the previous version which generated a 24 GB bin file.

| Run | Cores | Solver  | Total memory | Bin size |
|-----|-------|---------|--------------|---------

[2022-05-19 07:38] TomTranter commented on #152
@wigging great so are you able to compare which objects grow most over different numbers of cycles. If you share the scripts you are running for memray I can help fix the issues

[2022-05-20 17:52] wigging commented on #152
Here are more results from Memray using their latest version which reduces the size of the log file (bin file). Results are based on the flamegraph generated for each pack simulation. More details are given in the flamegraph html files but the tables below summarize the objects allocating the most memory.

## Medium pack tests, 32p20s, flamegraph comparison

Memray results for `pack_32p20s.py` bas

[2022-05-23 08:30] #144 closed

[2022-05-23 15:30] SyarifulAzis1018 commented on #144
i'm sorry, i try to save data to csv, but if i write the code
lp.save_to_csv(output)
so, the result is
module 'liionpack' has no attribute 'save_to_csv'

[2022-05-23 15:46] SyarifulAzis1018 commented on #144
i'm sorry
i try to save file to csv but the result is
module 'liionpack' has no attribute 'save_to_csv'

[2022-05-23 16:42] TomTranter commented on #144
@SyarifulAzis1018 did you pull down the latest main branch and restart your kernel?
See the save_ouput.py example script for how to use

[2022-05-23 17:37] SyarifulAzis1018 commented on #144
I don't know i use latest main branch or not, i think i use it, because i just installed it. And i use script from example, but the result still same,
Can you help me? Please

[2022-05-24 08:22] TomTranter commented on #144
Ok so main branch is slightly behind pip. I'm going to push a new version to pip today

[2022-05-24 08:27] TomTranter commented on #120
Added with PR #124

[2022-05-24 08:27] #120 closed

[2022-05-24 08:27] TomTranter commented on #121
Fixed by PR #124

[2022-05-24 08:27] #121 closed

[2022-05-24 08:47] SyarifulAzis1018 commented on #144
Thank you, my problem is already solved, thank you so much

[2022-05-24 10:03] TomTranter commented on #152
@wigging I just ran 16p4s charge and discharge cycling for 10 cycles and saw no increase in memory over time just watching my memory usage in task monitor. I even saw it go up a little and then down a little. This was on windows 10. I wonder if the problem is a linux issue. It doesn't make sense that output should grow in memory over time as the arrays are created on the first step with fixed size

[2022-05-24 10:07] TomTranter commented on #150
@brosaplanella I have no issues using ray on windows and from the link above it can be installed with pip, they just use conda to create the environment first.

[2022-05-24 10:36] TomTranter commented on #133
fixing in #156

[2022-05-24 12:08] TomTranter commented on #135
This issue is in ray itself and occurs for us when running unittests but not when running the same scripts interactively in spyder. There is a PR open https://github.com/ray-project/ray/pull/22419 to fix but has gone stale

[2022-05-24 12:10] TomTranter commented on #151
closing this issue as no further responses

[2022-05-24 12:10] #151 closed

[2022-05-24 14:37] wigging commented on #152
I also saw no increase in memory for the 10 cycle tests. Memory usage seemed to increase when using 30 cycles or more. Run your example for 100 cycles, not 10 cycles. Use the memory_profiler or Memray package to log your memory use. Not the Window's task manager.

[2022-05-24 14:52] wigging commented on #152
Here is the file I'm running for the memory_profiler and Memray tests.

[code]

[2022-05-24 15:31] tinosulzer commented on #137
Not for a while

[2022-05-24 16:01] TomTranter commented on #152
This is what I got for 32p4s 40 cycles using your script:
![image](https://user-images.githubusercontent.com/7068741/170080621-5686676a-5aac-45c6-af08-e78d005308ae.png)
Seems like the growth rate is faster after 400s when you get fewer resets. I couldn't see this happening in the plots you showed above as the total memory was much higher than that periodically recovered. I wonder what is determini

[2022-05-24 17:28] wigging commented on #152
What are the specs of the machine you're running on? Can you run a test for 32p20s for 100 cycles using casadi and ray solvers? And run the profiler using `mprof run --interval 20 pack_32p20s.py` where pack_32p20s is the name of the file. This would provide a direct comparison between your Windows results and the Ubuntu results shown above.

[2022-05-25 07:25] SyarifulAzis1018 opened #157 "[Bug]: lp make lcapy circuit"
### liionpack Version

0.3

### Python Version

3.8

### Describe the bug

I try to make a circuit from lcapy to connect to liionpack,
my code is
`import pandas as pd`
`import liionpack as lp`
`net_left = lp.setup_circuit(Np=1, Ns=1, terminals="left")`
`netlist = pd.DataFrame({"desc": ["V1"], "node1": [1], "node2": [5], "value": [10]})`
`aa = pd.DataFrame(data = netlist)`
`lp.make_lcapy_circuit(aa

[2022-05-25 10:18] TomTranter commented on #150
I think there is a dependency conflict (possibly sympy with pybamm and lcapy which should be addressed in next release) which means pybamm is getting rolled back to 0.4.0. redis seems to be in the environment.yml file but not the setup.py or requirements.txt

[2022-05-25 12:06] TomTranter opened #158 "[Bug]: Fix build pybamm changed syntax from C_n to C.n."
### liionpack Version

v0.3.1

### Python Version

22.5

### Describe the bug

Build is broken because of backend change in PyBaMM in dev branch

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-05-25 12:51] TomTranter commented on #157
It's just for use with netlists made using the setup_circuit function

[2022-05-25 13:05] SyarifulAzis1018 commented on #157
if we made netlists from
`from lcapy import Circuit`
`netlist = Circuit()`??

[2022-05-25 13:12] TomTranter commented on #157
I use lcapy for plotting the regular packs, the netlist has the form used by LtSpice etc. with an example here https://github.com/pybamm-team/liionpack/blob/main/examples/load_4p1s.py if you want to use lcapy to generate the circuits then convert to netlist that will need some development but I guess shouldn't be too hard. How familiar with lcapy are you?

[2022-05-25 13:16] wigging commented on #150
Ray needed a redis package for running on macOS.

[2022-05-25 14:16] SyarifulAzis1018 commented on #157
i just learning about lcapy

[2022-05-25 14:22] TomTranter commented on #157
So I think we can close this issue or make a longer term feature request

[2022-05-25 14:24] #157 closed

[2022-05-25 18:57] TomTranter commented on #152
![image](https://user-images.githubusercontent.com/7068741/170347205-1ee45222-3603-4a59-90ec-f4e9566ac71a.png)
32p20s 80 cycles

[2022-05-25 19:00] TomTranter commented on #152
I think something that might fix it would be periodically saving the state of the system and restarting the processes. I need to implement saving and loading states anyway so might be a good work around. It seems like it does do periodic recovery but not enough which is quite strange. Have you tried decorating any functions for the profiler / know if that would reveal anything extra?

[2022-05-26 13:16] TomTranter commented on #152
The size of the output doesn't make sense. It should be much larger so start with.
[code]
This is about 460 mb

[2022-05-26 13:57] TomTranter commented on #152
I think this might not be a memory leak at all but a slow filling up of the arrays with real numbers instead of pointers. There's something different happening when you do sys.getsizeof and that gives you the full size. I profiled the code and added a new array filled with random numbers that should get fully populated with real numbers, I'm guessing the zeros array all point to a single zero numb

[2022-05-27 15:55] wigging commented on #152
Looks like the main solver function as changed in the latest liionpack release. All of the memory profiling I did was with version 0.3. The latest version is 0.3.1 which has the old solver code commented out. So I don't know if any of the results I've shown here are still valid.

[2022-05-28 06:54] TomTranter commented on #152
It's more or less the same code but easier to step and solve. All the memory allocation for the above arrays is the same

[2022-06-06 01:55] wigging commented on #152
I ran some NumPy examples that build a large array to investigate what causes the memory usage to increase. I won't go into all the detail, but the examples and summary of the results can be read [here](https://gavinw.me/pythonic/largearray). Based on the examples, the following should be considered for liionpack:
- Changing the array data type from float64 to float32 can cut memory usage in half.

[2022-06-08 14:50] TomTranter commented on #152
Great, are you able to work out a prototype for saving the output while it solves?

[2022-06-08 21:40] TomTranter commented on #152
I think it would be a good feature and happy to have hdf5 deps. It's a very widely used package

[2022-06-09 04:42] srikanthallu commented on #152
If needed, we could make it optional - but hdf5 is recommended if we ever wanted to do a parallel IO.

[2022-06-09 10:44] TomTranter commented on #152
Maybe Dask arrays would also work but then we'd need to get Dask actors working

[2022-06-09 10:45] TomTranter commented on #152
I think saving the output should be optional but I don't see why the format should be optional too if it's simpler just to use hdf5

[2022-06-09 14:43] #133 closed

[2022-06-09 14:43] #150 closed

[2022-06-09 14:56] TomTranter opened #162 "[Bug]: protobuf version needs fixing"
### liionpack Version

latest

### Python Version

All

### Describe the bug

protobuf is breaking ray and needs pinning to before version 4.0.0

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-06-09 15:10] TomTranter commented on #162
read the docs is doing pip install upgrade eager and it may be possible to change this option https://github.com/readthedocs/readthedocs.org/issues/8890

[2022-06-13 08:38] canterville12 opened #164 "[Bug]: The example code on the website cannot be run"
### liionpack Version

Most recent version, just after the "pip install liionpack"

### Python Version

3.9.13

### Describe the bug

When opening the "01 Getting Started" page [here](https://liionpack.readthedocs.io/en/latest/examples/01%20Getting%20Started/), after following the instructions exactly, the code cannot run, it says: "AttributeError: param.C_n_init does not exist. It may have been r

[2022-06-13 16:39] tinosulzer commented on #164
Working on this

[2022-06-13 16:44] tinosulzer commented on #164
Looks like this has been fixed in main but not yet released

[2022-07-01 11:45] #162 closed

[2022-07-01 12:20] TomTranter commented on #164
Hi @canterville12 I just published a new release on pypi which hopefully should resolve your issue.

[2022-07-01 12:31] TomTranter commented on #20
These papers by Reniers and Howey and Schimpe et al. https://arxiv.org/pdf/2206.10245.pdf, https://www.sciencedirect.com/science/article/abs/pii/S0306261917315696?via%3Dihub use "cell", "block", "module", "rack", "compartment" terminology: _i.e. the lowest level are called ‘cells’, a group of parallel-connected cells (e.g.
7 parallel cells) is called a ‘block’, a group of blocks in series is a ‘mo

[2022-07-05 01:06] neokzp opened #166 "Model not converging with P2D and modified P2D"
I tried using standard P2D models and modified version with MHC kinetics.

It seems the model cannot either find an initial condition or converging afterwards.

Is that supposed to behave like this as it's still on early stage and need more future work or I just doing something wrong?

[2022-07-05 03:18] SyarifulAzis1018 opened #167 "CONFIGURATION CONNECTION OF THE BATTERY PACK"
### Description

So far, the circuit connection in liionpack library use series then parallel connection. in the other side, we can setting the connection with the parallel first and then parallel

### Motivation

I read from some literature, this configuration more reliable for unbalance voltage of battery. so if liionpack can make more configuration of battery its so very nice.

### Possible Imp

[2022-07-12 15:41] wigging opened #168 "[Bug]: Fix attribute for LithiumIonParameters"
### liionpack Version

0.3.2

### Python Version

3.9.12

### Describe the bug

I am running Liionpack v0.3.2 on macOS. I get the attribute error shown below for the following example files:

- basic_16p2s.py
- different_initial_soc.py
- draw_circuit.py
- drive_cycle.py
- drive_cycle_comparison.py
- mixed_terminals.py
- paper_example.py
- save_output.py

[code]

### Steps to Reproduce

Run the exa

[2022-07-12 16:34] wigging commented on #168
Yeah I got it fixed. When I updated liionpack it did not update PyBaMM. Which brings me to another problem that I will submit in a separate issue.

[2022-07-12 16:34] #168 closed

[2022-07-13 16:02] wigging opened #170 "[Bug]: Inconsistent results when using Ray manager"
### liionpack Version

0.3.2

### Python Version

3.9.12

### Describe the bug

I get inconsistent results and sometimes errors when using the Ray manager. I don't have these issues when using the Casadi manager. See the example below for more information.

### Steps to Reproduce

This example works fine when using the Casadi manager.

[code]

Here are the plots generated from the above example.

[2022-07-19 19:01] wigging commented on #153
I can change the resistance of a single branch by updating the Rc0 value in the netlist dataframe as shown below. Results show a cell current near zero and a constant cell voltage near 3.75 V.

[code]

[2022-07-27 05:22] Jadhav-Sourabh opened #172 "Runtime errro: pdflatex is not installed[Bug]:"
### liionpack Version

0.3.2

### Python Version

3.8

### Describe the bug

I tried simple code from documentation to check whether its working or not. then I got runtime error: pdflatex is not installed. I am using windows

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-07-27 05:35] priyanshuone6 commented on #172
Please refer [this](https://lcapy.readthedocs.io/en/latest/install.html) link on how to install pdflatex and required dependencies for windows.

[2022-07-27 05:52] Sourabh-Jadhav-2 commented on #172
![MicrosoftTeams-image](https://user-images.githubusercontent.com/87997086/181171308-4e25f90a-f046-4e60-a4fe-dc5ae739d2f7.png)

[2022-07-27 08:18] Sourabh-Jadhav-2 opened #173 "Experiment[Bug]:"
### liionpack Version

0.3.2

### Python Version

3.8

### Describe the bug

When try to solve the CCCV experiment like charge at 1C until 4.2 V, Hold at 4.2V until C/20, this is giving error in liionpack.solve

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-07-28 05:50] Sourabh-Jadhav-2 opened #174 "Experiment[Bug]:"
### liionpack Version

0.3.2

### Python Version

3.8

### Describe the bug

Why this is not possible?
"Charge at 1C until 4.2V",
"Hold at 4.2V until C/20"

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-07-28 13:40] wigging commented on #174
I think the upper and lower cutoff voltage is 4.2 volts. Try your experiment with 4.1 V or lower.

[2022-07-28 13:42] Sourabh-Jadhav-2 commented on #174
But 4.2V is working finely in pybamm

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Gavin Wiggins ***@***.***>
Sent: Thursday, July 28, 2022 7:10:46 PM
To: pybamm-team/liionpack ***@***.***>
Cc: Sourabh Jadhav ***@***.***>; Author ***@***.***>
Subject: Re: [pybamm-team/liionpack] Experiment[Bug]: (Issue #174)

I think the upper and lower cutoff voltage is 4

[2022-07-29 04:59] Sourabh-Jadhav-2 commented on #174
![a1](https://user-images.githubusercontent.com/87997086/181685867-59f2b730-6f98-4b5a-a348-5ebd1177c35e.PNG)
![a2](https://user-images.githubusercontent.com/87997086/181685886-d1c454f8-fb06-42ee-b3bf-180b43ad96e1.PNG)
![a3](https://user-images.githubusercontent.com/87997086/181685913-c6643849-4823-433b-af13-11176f0cd5e8.PNG)

[2022-07-29 05:01] Sourabh-Jadhav-2 commented on #174
I want to implement CCCV in liionpack. I already implemented successfully CCCV in pybamm

[2022-07-29 06:49] Sourabh-Jadhav-2 opened #175 "Pack SoC[Bug]:"
### liionpack Version

0.3.2

### Python Version

3.8

### Describe the bug

How to visualize the pack SoC?

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-07-29 09:54] TomTranter commented on #174
Apologies for not checking these issues regularly. I need to sort out my github notifications. As discussed on the PyBaMM discussion this functionality needs to be added. Liionpack only works for CC and drive cycles not voltage or power driven experiments. Just FYI this will probably be quite a significant development and is not a high priority for me right now

[2022-07-29 09:55] #173 closed

[2022-07-29 09:55] TomTranter commented on #173
duplicated

[2022-07-29 09:56] TomTranter commented on #172
You need tex. Please go through the above link carefully

[2022-07-29 09:58] TomTranter commented on #167
If you can generate a circuit diagram in LtSpice or something we can import netlist and then we can see how easy to auto generate. Thanks for the suggestion

[2022-07-29 09:58] TomTranter commented on #164
No response so assume fixed

[2022-07-29 09:58] #164 closed

[2022-07-29 09:59] TomTranter commented on #166
Hi @neokzp thanks for the question but I'm going to need to see the code you are running to be able to help

[2022-07-29 10:00] TomTranter commented on #152
@wigging did you get anywhere with hdf5? Shall we close this issue and open a new one for that?

[2022-07-29 10:01] TomTranter commented on #170
Hi @wigging thanks for raising this issue. I don't have a lot of time to look at this right now but will make it high priority to sort out

[2022-07-29 12:58] wigging commented on #174
@Sourabh-Jadhav-2 GitHub supports syntax highlighted code blocks. See the links below for more information. There's no need to take screenshots of code or terminal output.

https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code

https://docs.github.com/en/get-started/writing-on-github/working-w

[2022-08-02 14:45] wigging commented on #152
Changing the NumPy array type from float64 to float32 was the first step to saving results to an HDF5 file. This will reduce the file size by half when results are saved. But I haven't done anything beyond that. I will close this issue since the memory profiling is done and we plan to move forward with writing the results to file to avoid memory issues for long running simulations.

[2022-08-02 14:45] #152 closed

[2022-08-02 16:04] wigging opened #181 "Documentation link in sidebar"
### Description

Please add a link to the documentation in the sidebar on GitHub.

### Motivation

Putting a link in the sidebar to the repo documentation is standard practice.

### Possible Implementation

Just add the documentation link in the Website field on the sidebar. The link will display in the About section.

### Additional context

_No response_

[2022-08-05 17:01] TomTranter commented on #181
Can you check if I've done what you meant

[2022-08-05 17:06] wigging commented on #181
I see the link. Thanks.
![screenshot](https://user-images.githubusercontent.com/6828967/183126537-cd7ae9e9-1c53-4764-8beb-da109fdf00d6.png)

[2022-08-05 17:06] #181 closed

[2022-08-24 09:22] TomTranter opened #183 "[Bug]: Benchmarks failing"
### liionpack Version

Latest

### Python Version

3.8

### Describe the bug

This was the last benchmark to pass
https://github.com/pybamm-team/liionpack/runs/7624552852?check_suite_focus=true
This was the first one to fail
https://github.com/pybamm-team/liionpack/runs/7644850569?check_suite_focus=true

Failure started to happen after we changed the default branch to be develop I think
@Saransh-c

[2022-08-24 13:57] wigging commented on #183
Can you keep the default branch as `main`? You can make the branch protected so people can't directly push/pull to it.

[2022-08-29 14:56] Ashuprateek opened #185 "Problem faced in liionpack simulation"
I'm facing some problems regarding the experiment simulation as "keyerror". I'm new to this programing and can't crack it. Please let me know where I'm writing wrong code? Thanks in advance
[Untitled.pdf](https://github.com/pybamm-team/liionpack/files/9445576/Untitled.pdf)

[2022-08-30 13:31] #183 closed

[2022-08-30 13:38] TomTranter commented on #185
Hi @Ashuprateek looking quickly at the code the length of the input array is not the same as number of cells

[2022-08-30 16:44] Saransh-cpp commented on #183
Keeping `main` as the default branch had some loopholes (given that we wanted to test `main` with the latest tagged version of `PyBaMM` and `develop` with the `develop` version of `PyBaMM`). This is explained in much more detail here - #177.

[2022-08-31 11:33] Ashuprateek commented on #185
Thanks  @TomTranter for your valuable reply. You mean to say, in the .csv file , there are more entries for each label than 77 (The number of cells)?

[2022-08-31 12:16] Ashuprateek commented on #185
I'll explain my al the queries:
1. The above problem if I need more than one output variable from the simulation and similar kind of problem if I enter these variables for graphical analysis as shown in the above file.
2. The second query is: I have real time data which I want to implement for the current values, as well as  wish to add temp probe 1(ambient temperature) and temp probe 2(battery te

[2022-08-31 15:57] TomTranter commented on #185
Ah sorry, on looking again I see that the length of inputs is ok actually. I was referring to the htc. If you can post a self contained example of the problem here that I can reproduce and debug I can take a look but I can't work with pdf files

[2022-09-01 08:16] Ashuprateek commented on #185
#Using Real time data
try:
    import liionpack as lp
except:
    !pip install -q git+https://github.com/pybamm-team/liionpack.git@main
    import liionpack as lp
import pybamm
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

nproc = os.cpu_count()
os.chdir(pybamm.__path__[0] + "/..")

# import Real time data from file
Real_time_data = pd.read_csv(r"C:\Users\Engine

[2022-09-01 08:20] Ashuprateek commented on #185
Sir this is my code and the target or objective of the total  code, I already explained in my above message. So mainly I have to solve my 2 queries (mentioned above) using this code and then I can go further and explore more application in this code.

[2022-09-01 09:51] TomTranter commented on #185
Hi @Ashuprateek I'm a bit confused myself now. So you fixed the original problem it seems with the ValueError: could not broadcast input array from shape (66,77) into shape (7,77.
The code you posted above seems to work. I don't understand your question about needing more than one output variable. You have more than one in a dictionary returned by the solve function.
If you have real time data for

[2022-09-01 10:12] Ashuprateek commented on #185
Hello Sir, no original problem is not fixed. Mainly i remove those parameters from the code (given in 1st pdf) which I want extra results. Till I run with this parameter
output_variables = [
    "Volume-averaged cell temperature [K]",
]
it works but if I add more like :
output_variables = [
"Volume-averaged cell temperature [K]",
"Discharge capacity [A.h]",
"Cell temperature [K]",
]
, it start cre

[2022-09-01 17:44] TomTranter commented on #185
Ok I see the issue. It's the 'Cell temperature [K]' variable which is not a single value for each battery. Currently we only support exporting the x-averaged or volume-averaged variables or 0D variables in space. As for the second question are you talking about actually applying different currents to different strings or simply changing the terminal current for the pack at each time step. If you w

[2022-09-02 10:35] TomTranter opened #186 "[Bug]: Benchmarks looking for setup.py"
### liionpack Version

develop

### Python Version

3.9

### Describe the bug

The benchmarks seem to be looking for a setup.py file which has now been replaced. Can you please take a look @Saransh-cpp

https://github.com/pybamm-team/liionpack/runs/8149637327?check_suite_focus=true

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

[2022-09-02 16:33] #186 closed

[2022-09-06 15:30] SyarifulAzis1018 commented on #167
[https://drive.google.com/file/d/1e1DCaLWT3BzXe37hdTaYFMSm03JQk4_x/view?usp=sharing](url)
this file about the circuit 3p2s, thanks

[2022-09-06 15:51] TomTranter commented on #167
Do you know if the convention is to call this configuration 3p2s and the way liionpack does it 2s3p? I think this should be easy to automate, just wondering about the best way to define the layout with terminology or maybe an argument like series_first = True

[2022-09-06 15:55] SyarifulAzis1018 commented on #167
I think it's goog choices to define the layout

[2022-09-09 07:57] krishnakantsingh14 opened #188 "[Bug]: Installation error unable to import liionpack"
### liionpack Version

latest

### Python Version

3.8

### Describe the bug

Hi,

I am unable to import liionpack module, on both colab or on my local computer (windows).
All colab links are unable to import liionpack module.

On windows, error is ocurring due to ray package.
![image](https://user-images.githubusercontent.com/19733648/189299673-7caeb060-782b-4357-a71d-4354765ad699.png)

Error on

[2022-09-14 17:50] wigging commented on #170
Any updates on this?

[2022-09-14 18:17] TomTranter commented on #170
Nope sorry haven’t had a chance lately. Did you try debugging it at all?

On Wed, 14 Sep 2022 at 18:51, Gavin Wiggins ***@***.***>
wrote:

[2022-09-14 18:37] wigging commented on #170
It's difficult to debug because the problem doesn't always occur. Best chance of figuring this out is to go back to a version of liionpack where there are no problems using Ray. Then see what changes were introduced in the code that could be causing the issue.

[2022-09-14 18:41] wigging commented on #170
Can someone else verify this issue with the latest liionpack version or am I the only person having this problem?

[2022-09-14 18:53] TomTranter commented on #170
I’ll try tomorrow. So do you restart the kernel each time? Sounds like
something could be hanging around if you get different results running same
script?

On Wed, 14 Sep 2022 at 19:41, Gavin Wiggins ***@***.***>
wrote:

[2022-09-14 19:00] wigging commented on #170
I ran the example I gave above from the terminal prompt. Everything exits when the simulation is done. Doesn't matter if you restart the terminal (kernel). Either way I never had this issue until the recent release. Were there any updates to Ray that could cause this?

[2022-09-14 19:06] TomTranter commented on #170
No not much changed…

On Wed, 14 Sep 2022 at 20:00, Gavin Wiggins ***@***.***>
wrote:

[2022-09-16 08:13] TomTranter commented on #185
Can I close this issue @Ashuprateek ?

[2022-09-16 11:30] Ashuprateek commented on #185
Sure Sir

On Fri, Sep 16, 2022, 10:13 Tom Tranter ***@***.***> wrote:

[2022-09-16 16:52] #185 closed

[2022-09-16 16:54] TomTranter commented on #170
@wigging it seems like the problem is in PyBaMM. I traced back to a working version on 7 Jun, on the 8th this PR was merged  https://github.com/pybamm-team/PyBaMM/pull/1978 and causes the issue as far as I can tell. Unfortunately 72 files were changed in this PR!

[2022-09-16 16:56] TomTranter commented on #170
N.B I also had to roll back liionpack to 9th Jun

[2022-09-17 08:53] krishnakantsingh14 commented on #188
On Colab, issue resolved by downgrading sympy version
!pip uninstall sympy
!pip install sympy==1.10.1

[2022-09-17 08:53] #188 closed

[2022-09-20 00:58] wigging commented on #170
I tried going back to liionpack v0.3.1 but I get errors for
`AttributeError: 'LithiumIonParameters' object has no attribute 'C_n_init'`
Do you remember which older version of PyBaMM is compatible with the older liionpack?

[2022-09-20 13:11] TomTranter commented on #170
I think 22.5 should work
@tinosulzer anything you can think of in https://github.com/pybamm-team/PyBaMM/pull/1978 that might be causing this issue?

[2022-09-21 14:59] tinosulzer commented on #170
I can't find what in that issue might be causing problems. However, I think there is a bug related to inputs. This works every time:
[code]
this fails intermittently (keeping everything else the same, adding thermal model, with inputs to thermal model):
[code]
and this works (keeping everything else the same, keeping thermal model, but no inputs to thermal model)
[code]

[2022-09-21 16:08] TomTranter commented on #170
Oh ok, thanks I'll look into this tomorrow

[2022-09-21 18:11] tinosulzer commented on #170
This should be fixed by the PR above. https://github.com/pybamm-team/PyBaMM/issues/2310 should be done in pybamm to avoid errors like this in future

[2022-09-22 08:57] #170 closed

[2022-09-22 09:01] TomTranter commented on #175
Hi @Jadhav-Sourabh this is a good question and requires some development. Would be a good first issue to tackle if you feel like having a go at contributing I can help

[2022-09-22 09:05] TomTranter commented on #166
Closing as no response from op

[2022-09-22 09:05] #166 closed

[2022-09-22 09:16] TomTranter opened #190 "Easy statistical distributions"
### Description

Add a nice way to pass a statistical distribution as an input for varying circuit and battery parameters. For example if you want to create a pack with a single particle model and vary the particle radius according to a statistical distribution we could add a helper function or an example of how to do that properly.

### Motivation

This will help to model packs with real world st

[2022-09-22 15:48] tinosulzer commented on #190
I agree this would be very useful to have. It would be good to implement this in a way that doesn't require duplicate changes to both PyBaMM and liionpack.

A possible non-invasive solution for this would be to implement helper functions to do the following:
[code]

[2022-09-22 19:01] tinosulzer commented on #190
Got thoroughly nerdsniped by this. Here are some cooler plots.
[code]
![Figure_1](https://user-images.githubusercontent.com/20817509/191829935-e9767172-2404-4224-9fc9-27b7187e2402.png)

[2022-09-22 19:54] TomTranter commented on #190
Haha that is beautiful but yes you did! Leave something for the hackers to
do

On Thu, 22 Sep 2022 at 20:01, Valentin Sulzer ***@***.***>
wrote:

[2022-09-23 11:39] TomTranter opened #191 "External variable and inputs getting mixed in causes input_parameter_order to fail[Bug]:"
### liionpack Version

develop

### Python Version

All

### Describe the bug

The latest fix to the inputs fails when there is an external variable

### Steps to Reproduce

_No response_

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-09-23 12:42] tinosulzer commented on #191
Do you need help fixing? Is it a liionpack bug or pybamm?

[2022-09-23 12:57] TomTranter commented on #191
It's liionpack - I think I've done it but it's more like a hack to the hack than a real solution.

[2022-09-23 16:55] #191 closed

[2022-10-31 12:58] TomTranter opened #195 "[Bug]: update from pybamm experiments"
### liionpack Version

Latest

### Python Version

All

### Describe the bug

Changed introduced here have broken liionpack: https://github.com/pybamm-team/PyBaMM/pull/2395
instead of indexing into the operating conditions and finding the "electric" key we will need to search some strings. The type key should be current or C-rate and some conversions made. This needs to be done immediately but sho

[2022-11-08 05:57] SourabhJadhav2 opened #197 "[Bug]: key error 'electric'"
### liionpack Version

0.3

### Python Version

3.8

### Describe the bug

`
   I, typ = op["electric"]
`
`
KeyError: 'electric'
`

### Steps to Reproduce

try to solve this example: https://liionpack.readthedocs.io/en/main/examples/08%20SEI%20degradation%20model/

### Expected behaviour

_No response_

### Relevant log output

_No response_

### Additional context

_No response_

[2022-11-20 17:03] tinosulzer commented on #197
Duplicate of #195 , PR is open #196

[2022-11-20 17:03] #197 closed

[2022-11-20 17:33] tinosulzer opened #198 "External variables"
I am trying to understand external variables and if we really need them or if the same results can be achieved using the appropriate inputs and models. It would be nice if we could remove them, since they introduce some technical debt into both PyBaMM and liionpack (e.g. currently #196 is failing because of external variables, and in pybamm it's causing issues with dimensional models).

In liionpa

[2022-11-20 17:34] tinosulzer commented on #198
Also, it's now possible to provide input parameters that depend on `x`, which is another use case that previously could only be done with external variables

[2022-11-21 16:37] tinosulzer commented on #198
As discussed with Tom this morning, we're going to go ahead with testing removing external variables. The main concern is that updating temperature with "ambient temperature" is confusing, and instead we should add another submodel for "constant temperature" where "cell temperature" is an extra parameter.

[2022-11-21 19:38] Scottmar93 commented on #198
Yeah I have no issue with removing it. The 2+1D stuff became more integrated so no longer really needed for that. Tom is the only one that made good use of it so I think he should have the main say.

[2022-11-28 15:26] tinosulzer commented on #198
@TomTranter any progress with this?

[2022-11-28 15:46] TomTranter commented on #198
None yet, last week got a bit crazy. Will look at it tomorrow